In [1]:
import re
import pandas as pd

In [2]:
# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Text = 'Python Exercises, PHP exercises.'
pattern='[\s,.]'

Replace = re.sub(pattern,':',Text)
print(Replace)

Python:Exercises::PHP:exercises:

In [3]:
# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
df = pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})

#Syntax: Series.str.repalce(pattern,repl,n=-1,case=None,flags=0,regex=True)

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]+|XXXXX', '', regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [4]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

Text ="Emma is a basketball player who was born on June 12th"
pattern = r'\w{4}'
re_pattern=re.compile(pattern)
result= re_pattern.findall(Text)
print(result)

['Emma', 'bask', 'etba', 'play', 'born', 'June', '12th']

In [5]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

Text ="Emma is a basketball player who was born on June 12th"
pattern = r'\w{3,5}'
re_pattern=re.compile(pattern)
result= re_pattern.findall(Text)
print(result)

['Emma', 'baske', 'tball', 'playe', 'who', 'was', 'born', 'June', '12th']

In [6]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
sample_text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

def remove_parentheses(strings):
  pattern = re.compile(r"\(|\)")
  modified_strings = []
  for string in strings:
      modified_string = re.sub(pattern, "", string)
      modified_strings.append(modified_string)
  return modified_strings


result = remove_parentheses(sample_text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [7]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

with open("text_file2.txt") as file:
    text=file.read()
modified_text = re.sub(r'\([^()]*\)', '', text)
print(modified_text)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [8]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample_text = "ImportanceOfRegularExpressionsInPython"

Result=re.findall(r'[A-Z][a-z]*',Sample_text )
print(Result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [9]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'[A-Za-z0-9][A-Za-z]*'
# pattern = r'[A-Z0-9]*[A-Za-z]*'
Result=re.findall(pattern,Sample_text )
print(Result)

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']

In [10]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

def space(text):
    pattern = r'([A-Z][a-z0-9]+|\d+)'
    return re.sub(pattern, r' \1', text)

Sample_Text= "RegularExpression1IsAn2ImportantTopic3InPython"
result = space(Sample_Text)
print(result)

 Regular Expression1 Is An2 Important Topic3 In Python

In [11]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
#Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df = pd.read_csv(url)
#df= pd.read_csv("Happiness_score_index.csv")
print(df.head(5))

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual
0     0.29678            2.51738
1     0.43630            2.70201
2     0.34139            2.49204
3     0.34699            2.46531
4     0.45811            2.45176

In [12]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [13]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

string1= "Hello Data Science 1 %oA"

pattern= '\w*'
result=re.findall(pattern,string1)
print(result)

['Hello', '', 'Data', '', 'Science', '', '1', '', '', 'oA', '']

In [14]:
#Question 12- Write a Python program where a string will start with a specific number. 

def spe_num(string):
    comp = re.compile(r"^1")
    if comp.match(string):
        return True
    else:
        return False
print(spe_num('12345'))
print(spe_num('23456'))

True
False

In [15]:
#Question 13- Write a Python program to remove leading zeros from an IP address

ip='192.168.086.08'
zeros=re.sub('\.[0]*','.',ip)
print(zeros)

192.168.86.8

In [16]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
#Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

with open("text_file.txt") as file:
    text=file.read()

pattern = r"([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})"

matches = re.findall(pattern, text)
print(matches)

['August 15th 1947']

In [17]:
#Question 15- Write a Python program to search some literals strings in a string. 
text = 'The quick brown fox jumps over the lazy dog.'
patterns = [ 'fox', 'dog', 'horse' ]

for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [18]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
text = 'The quick brown fox jumps over the lazy dog.'

pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [19]:
#Question 17- Write a Python program to find the substrings within a string.
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'

for match in re.findall(Pattern, Sample_text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [20]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
for match in re.finditer(Pattern, Sample_text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (Sample_text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [21]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2024-07-06"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2024-07-06
New date in DD-MM-YYYY Format:  06-07-2024

In [22]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample_Text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

def find_decimals(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimals = re.findall(pattern, string)
  return decimals

Result=find_decimals(Sample_Text)
print(Result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [23]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.
text = "Ten10, Twenty 20, Thirty  30"
result = re.split(r"\D+", text)
# Print results.
for element in result:
    print(element)

10
20
30

In [24]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

list='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
max(re.findall('\d+', list), key = lambda x: int(x))

'950'

In [25]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample_Text= 'RegularExpressionIsAnImportantTopicInPython'

Result=re.findall(r'[A-Z][a-z]*',Sample_Text)
print(Result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [26]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
pattern = r'[A-Z][a-z]+'
text = "I am Data Science student. Hello World!"

matches = re.findall(pattern, text)
print(matches)

['Data', 'Science', 'Hello', 'World']

In [27]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample_Text= "Hello hello world world"

regex = r"\b(\w+)(?:\W+\1\b)+"
x=re.sub(regex, r'\1', Sample_Text)
print(x)

Hello hello world

In [28]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
def ends_with_alphanumeric(s):
    """Return True if the string ends with an alphanumeric character, otherwise False."""
    pattern = r'.*\w$'
    return bool(re.match(pattern, s))

# Test cases
test_strings = [
"Hello1",
"Python@",
"Iditect_",
"12345",
"abcde",
"!@#$%",
]

for s in test_strings:
    print(f"'{s}' ends with alphanumeric:", ends_with_alphanumeric(s))

'Hello1' ends with alphanumeric: True
'Python@' ends with alphanumeric: False
'Iditect_' ends with alphanumeric: True
'12345' ends with alphanumeric: True
'abcde' ends with alphanumeric: True
'!@#$%' ends with alphanumeric: False

In [29]:
#Question 27-Write a python program using RegEx to extract the hashtags.
Sample_Text=  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

re.findall(r"#(\w+)", Sample_Text)

['Doltiwal', 'xyzabc', 'Demonetization']

In [30]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample_Text=  "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r"<U\+\w{4}>"

result = re.sub(pattern, "", Sample_Text)

print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [31]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample_Text=  Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

with open("text_file1.txt") as file:
    text=file.read()
matches = re.findall(r'(\d+-\d+-\d+)',text)

print(matches)

['12-09-1992', '15-12-1999']

In [32]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.

Sample_Text=  "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

remove = re.compile(r'\W*\b\w{2,4}\b')
print(remove.sub('', Sample_Text))

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.