# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# installing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException, TimeoutException, InvalidArgumentException
from selenium.webdriver.chrome.service import Service

import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
import re
import os

In [4]:
#Opening the automated browser window
driver=webdriver.Chrome()
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window() # to maximize browser window

# Finding the table in the webpage for scraping details
table = driver.find_element(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]')

# to find the table headers
headers = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/thead/tr/th')
header_texts = [header.text for header in headers[:-1]]  # Exclude the last header


# Find all rows in the table
rows = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')

# Extract data from each row, excluding the last column
table_data = []
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text for cell in cells[:-1]]  # Exclude the last column
    table_data.append(row_data)

#Creating the dataFrame from the scraped data
Youtube1df = pd.DataFrame(table_data, columns=header_texts)
Youtube1df.insert(0,"Rank",range(1,len(Youtube1df)+1))
Youtube1df.rename(columns={'Uploader': 'Artist','Date': 'Upload date '}, inplace=True)

# Print the DataFrame
print(Youtube1df)

# Close the WebDriver
driver.quit()

    Rank                                       Video name  \
0      1                            "Baby Shark Dance"[7]
1      2                                  "Despacito"[10]
2      3                       "Johny Johny Yes Papa"[18]
3      4                                  "Bath Song"[19]
4      5                          "Wheels on the Bus"[20]
5      6                              "See You Again"[21]
6      7                               "Shape of You"[26]
7      8                "Phonics Song with Two Words"[29]
8      9                                "Uptown Funk"[30]
9     10                              "Gangnam Style"[31]
10    11  "Learning Colors – Colorful Eggs on a Farm"[36]
11    12                             "Dame Tu Cosita"[37]
12    13                                     "Axel F"[38]
13    14   "Masha and the Bear – Recipe for Disaster"[39]
14    15                        "Baa Baa Black Sheep"[40]
15    16                             "Lakdi Ki Kathi"[41]
16    17                                      "Sugar"[42]
17    18                             "Counting Stars"[43]
18    19                                       "Roar"[44]
19    20           "Waka Waka (This Time for Africa)"[45]
20    21                      "Shree Hanuman Chalisa"[46]
21    22          "Humpty the train on a fruits ride"[47]
22    23                                      "Sorry"[48]
23    24                          "Thinking Out Loud"[49]
24    25                                    "Perfect"[50]
25    26                                 "Dark Horse"[51]
26    27                                 "Let Her Go"[52]
27    28                                      "Faded"[53]
28    29                             "Girls Like You"[54]
29    30                                    "Lean On"[55]

                                               Artist Views (billions)  \
0         Pinkfong Baby Shark - Kids' Songs & Stories            15.09
1                                          Luis Fonsi             8.54
2   LooLoo Kids - Nursery Rhymes and Children's Songs             6.95
3                          Cocomelon - Nursery Rhymes             6.85
4                          Cocomelon - Nursery Rhymes             6.56
5                                         Wiz Khalifa             6.40
6                                          Ed Sheeran             6.33
7               ChuChu TV Nursery Rhymes & Kids Songs             6.00
8                                         Mark Ronson             5.33
9                                                 Psy             5.29
10                                        Miroshka TV             5.15
11                                      Ultra Records             4.74
12                                         Crazy Frog             4.69
13                                         Get Movies             4.60
14                         Cocomelon - Nursery Rhymes             4.17
15                                       Jingle Toons             4.13
16                                           Maroon 5             4.09
17                                        OneRepublic             4.05
18                                         Katy Perry             4.03
19                                            Shakira             4.01
20                              T-Series Bhakti Sagar             3.97
21      Kiddiestv Hindi - Nursery Rhymes & Kids Songs             3.89
22                                      Justin Bieber             3.84
23                                         Ed Sheeran             3.79
24                                         Ed Sheeran             3.78
25                                         Katy Perry             3.77
26                                          Passenger             3.70
27                                        Alan Walker             3.67
28                                           Maroon 5             3.65
29                               Major Lazer Official             3.65

         Upload date
0       June 17, 2016
1    January 12, 2017
2     October 8, 2016
3         May 2, 2018
4        May 24, 2018
5       April 6, 2015
6    January 30, 2017
7       March 6, 2014
8   November 19, 2014
9       July 15, 2012
10  February 27, 2018
11      April 5, 2018
12      June 16, 2009
13   January 31, 2012
14      June 25, 2018
15      June 14, 2018
16   January 14, 2015
17       May 31, 2013
18  September 5, 2013
19       June 4, 2010
20       May 10, 2011
21   January 26, 2018
22   October 22, 2015
23    October 7, 2014
24   November 9, 2017
25  February 20, 2014
26      July 25, 2012
27   December 3, 2015
28       May 31, 2018
29     March 22, 2015

In [5]:
# Dataframe
Youtube1df

,Rank,Video name,Artist,Views (billions),Upload date
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,15.09,"June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,8.54,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.95,"October 8, 2016"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.85,"May 2, 2018"
4,5,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,6.56,"May 24, 2018"
5,6,"""See You Again""[21]",Wiz Khalifa,6.40,"April 6, 2015"
6,7,"""Shape of You""[26]",Ed Sheeran,6.33,"January 30, 2017"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,6.00,"March 6, 2014"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.33,"November 19, 2014"
9,10,"""Gangnam Style""[31]",Psy,5.29,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.15,"February 27, 2018"
11,12,"""Dame Tu Cosita""[37]",Ultra Records,4.74,"April 5, 2018"
12,13,"""Axel F""[38]",Crazy Frog,4.69,"June 16, 2009"
13,14,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.60,"January 31, 2012"
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.17,"June 25, 2018"
15,16,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.13,"June 14, 2018"
16,17,"""Sugar""[42]",Maroon 5,4.09,"January 14, 2015"
17,18,"""Counting Stars""[43]",OneRepublic,4.05,"May 31, 2013"
18,19,"""Roar""[44]",Katy Perry,4.03,"September 5, 2013"
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,4.01,"June 4, 2010"
20,21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.97,"May 10, 2011"
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.89,"January 26, 2018"
22,23,"""Sorry""[48]",Justin Bieber,3.84,"October 22, 2015"
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,3.79,"October 7, 2014"
24,25,"""Perfect""[50]",Ed Sheeran,3.78,"November 9, 2017"
25,26,"""Dark Horse""[51]",Katy Perry,3.77,"February 20, 2014"
26,27,"""Let Her Go""[52]",Passenger,3.70,"July 25, 2012"
27,28,"""Faded""[53]",Alan Walker,3.67,"December 3, 2015"
28,29,"""Girls Like You""[54]",Maroon 5,3.65,"May 31, 2018"
29,30,"""Lean On""[55]",Major Lazer Official,3.65,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# installing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import time

In [8]:
#Opening the automated browser window and navigating to required page
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')
driver.maximize_window() # to maximize browser window


#Selecting Fixtures dropdown from headers and clicking
Select = driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
Select.click()


# Page showing only 5 results and in order to see more results we need to click More Matches button multiple times
# here we will click three times 
no_click=3

for cli in range(no_click):
    try:
        #Wait for the "More Match button" is visible and then we click using code
        more_match=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches"]')))
        more_match.click()
    except:
        print('Click successful- seeing one more below More Match button')

Click successful- seeing one more below More Match button
Click successful- seeing one more below More Match button

In [9]:
#Finding the required element and saving the data in empty list created

Series=[]
Series_name = driver.find_elements(By.XPATH,'//div[@id="match-card"]/div/div/div[2]/div[2]')
try:
    for a in Series_name:
        Series.append(a.text)
except Exception as e:
    print('Error occurred: {e}')
    Series.append('-')
    
Match=[]
match = driver.find_elements(By.XPATH, '//div[@id="match-card"]/div/div/div[2]/h5')
try:
    for b in match:
        Match.append(b.text)
except Exception as e:
    print('Error occurred: {e}')
    Match.append('-')

Place=[]
place= driver.find_elements(By.XPATH,'//div[@id="match-card"]/div/div/div[2]/div[3]')
try:
    for c in place:
        Place.append(c.text)
except Exception as e:
    print('Error occurred: {e}')
    Place.append('-')

Date=[]
date = driver.find_elements(By.XPATH,'//div[@id="match-card"]/div/div/div[2]/div/div[1]' )
try:
    for d in date:
        Date.append(d.text)
except Exception as e:
    print('Error occurred: {e}')
    Date.append('-')

Time=[]
time  = driver.find_elements(By.XPATH,'//div[@id="match-card"]/div/div/div[2]/div/div[2]')
try:
    for e in time:
        Time.append(e.text)
except Exception as e:
    print('Error occurred: {e}')
    Time.append('-')


# Close the WebDriver
driver.quit()

#Creating the dataFrame from the scraped data
Fixturesdf=pd.DataFrame({"Series Name":Series,"Match":Match,"Place":Place,"Date":Date,"Time":Time })
Fixturesdf

,Series Name,Match,Place,Date,Time
0,Youth List-A Match,Australia U19 Tour of India Oneday Series,"Siechem Stadium, Puducherry",26 Sep,9:00 IST
1,2nd Test\nMen,Bangladesh Tour of India Test Series 2024,"Green Park, Kanpur",27 Sep,9:30 IST
2,Warm Up Practice Match\nWomen,ICC Womens T20 World Cup Warm Up Matches 2024,"ICC Academy Ground No 2, Dubai",29 Sep,19:30 IST
3,Youth First-Class Match,Australia U19 Tour of India Multiday Series,"M A Chidambaram Stadium, Chennai",30 Sep,9:30 IST
4,Warm Up Practice Match\nWomen,ICC Womens T20 World Cup Warm Up Matches 2024,"ICC Academy Ground, Dubai",1 Oct,19:30 IST
5,T20I\nWomen,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",4 Oct,19:30 IST
6,1st T20I\nMen,Bangladesh Tour of India T20 Series 2024,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 Oct,19:00 IST
7,T20I\nWomen,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",6 Oct,15:30 IST
8,Youth First-Class Match,Australia U19 Tour of India Multiday Series,"M A Chidambaram Stadium, Chennai",7 Oct,9:30 IST
9,2nd T20I\nMen,Bangladesh Tour of India T20 Series 2024,"Arun Jaitley Stadium, Delhi",9 Oct,19:00 IST
10,T20I\nWomen,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",9 Oct,19:30 IST
11,3rd T20I\nMen,Bangladesh Tour of India T20 Series 2024,"Rajiv Gandhi International Stadium, Hyderabad",12 Oct,19:00 IST
12,T20I\nWomen,ICC Womens T20 World Cup 2024,"Sharjah Cricket Stadium, Sharjah",13 Oct,19:30 IST
13,1st Test\nMen,New Zealand Tour of India Test Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Oct,9:30 IST
14,2nd Test\nMen,New Zealand Tour of India Test Series 2024,"Maharashtra Cricket Association Stadium, Pune",24 Oct,9:30 IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following deta


: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
#Scraping year 21-22 and 22-23 data as the page is showingfor those years

In [40]:
#importing required libraries

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import time
import pandas as pd

In [91]:
#Opening the automated browser window and navigating to required page
driver=webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')
driver.maximize_window()
time.sleep(5)

# Locate the desired menu item and click it
Economy_menu = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economy_menu.click()

# Locate the desired option and click it
India_option = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India_option.click()

time.sleep(2)

# Select the State-wise GDP of India details from the webpage
GDP=WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,'//div[@style="float:left;width:1150px;height:800px;background-color: white "]/div[2]/ul/li[1]')))
GDP.click()

# Finding the table in the webpage for scraping details
table = driver.find_element(By.XPATH, '//div[@id="table_id_wrapper"]/table')

# Table headers
col_Header=['Rank','State', '23-24', 'GSDP(22-23) (Cr INR at Current prices)', 'GSDP(21-22) (Cr INR at Current prices)', 'Share(21-22)',
 'GDP 2021($billion)', '23-24', '22-23', '21-22']

# Find all rows in the table
rows = driver.find_elements(By.XPATH, '//div[@id="table_id_wrapper"]/table/tbody/tr')

# Extract data from each row, excluding the last column
table_data = []
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text for cell in cells]
    table_data.append(row_data)

# Close the WebDriver
driver.quit()

#Creating the dataFrame from the scraped data
GDPdf = pd.DataFrame(table_data,columns=col_Header)

# Droping unnecessary columns and making final dataframe.
StateGDPdf=GDPdf.drop(['23-24','23-24','22-23','21-22'], axis=1)
StateGDPdf

,Rank,State,GSDP(22-23) (Cr INR at Current prices),GSDP(21-22) (Cr INR at Current prices),Share(21-22),GDP 2021($billion)
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,014,688","881,336",3.73%,117.660
12,13,Haryana,"984,055","868,905",3.68%,116.001
13,14,Odisha,"753,177","662,886",2.81%,88.497
14,15,Bihar,"751,396","650,302",2.76%,86.817
15,16,Punjab,"676,164","617,192",2.62%,82.397
16,17,Assam,"493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"464,399","410,525",1.74%,54.806
18,19,Jharkhand,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"191,728","172,162",0.73%,22.984
22,23,Goa,"93,672","84,266",0.36%,11.250
23,24,Tripura,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,"54,285","46,096",0.20%,6.154
25,26,Puducherry,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"42,697","38,785",0.16%,5.178
27,28,Sikkim,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,"39,630","34,775",0.15%,4.643
30,31,Nagaland,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following detail

s:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [5]:
# installing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [15]:
#opening automated browser and navigating to desired link
driver= webdriver.Chrome()
driver.get('https://github.com/')
driver.maximize_window()

#Navigating to Menu button Open Source and clicking
Menu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')
Menu.click()
#Selecting Trending option from dropdown and clicking
Trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a")
Trending.click()

#wait time to load webpage
time.sleep(3)

#Scraping the requried deatils from the automated webpage

title= driver.find_elements(By.XPATH,'//a[@class="Link"]')
Title=[]
for t in title:
    try:
        Title.append(t.text)
    except:
        Title.append('-')

description= driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
Description=[]
for d in description:
    try:
        Description.append(d.text)
    except:
        Description.append('-')

count= driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
Count=[]
for c in count:
    try:
        Count.append(c.text)
    except:
        Count.append('-')

language= driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span[1]')
Language=[]
for l in language:
    try:
        Language.append(l.text)
    except:
        Language.append('-')

print(len(Title),len(Description),len(Count),len(Language))

GitHubdf=pd.DataFrame({"Repository title":Title,"Repository description":Description,"Contributors count":Count, "Language used":Language})
GitHubdf

13 13 13 13

,Repository title,Repository description,Contributors count,Language used
0,srush / GPU-Puzzles,Solve puzzles. Learn CUDA.,411,Jupyter Notebook
1,roboflow / supervision,We write your reusable computer vision tools. 💜,"1,663",Python
2,cpacker / MemGPT,Letta (fka MemGPT) is a framework for creating...,"1,280",Python
3,localsend / localsend,An open-source cross-platform alternative to A...,"2,301",Dart
4,wgh136 / PicaComic,"A comic app built with Flutter, supporting mul...",460,Dart
5,SharifiZarchi / Introduction_to_Machine_Learning,دوره‌ی مقدمه‌ای بر یادگیری ماشین، برای دانشجویان,192,Jupyter Notebook
6,ruanyf / weekly,科技爱好者周刊，每周五发布,"2,823",Built by
7,microsoft / azurelinux,Linux OS for Azure 1P services and edge applia...,532,RPM Spec
8,kestra-io / kestra,"Infinitely scalable, event-driven, language-ag...",483,Java
9,stanfordnlp / dspy,DSPy: The framework for programming—not prompt...,"1,318",Python
10,hacksider / Deep-Live-Cam,real time face swap and one-click video deepfa...,"5,195",Python
11,anthropics / anthropic-cookbook,A collection of notebooks/recipes showcasing s...,543,Jupyter Notebook
12,lobehub / lobe-chat,"🤯 Lobe Chat - an open-source, modern-design AI...","9,410",TypeScript

In [17]:
# Close the WebDriver
driver.quit()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details

:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [17]:
#Importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd

#opening automated browser and navigating to desired link
driver= webdriver.Chrome()
driver.get('https://www.billboard.com/')
driver.maximize_window()  # Maximizing browser windown

#Navigating to search Top HOT 100 Billboard and performing click action
search=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a')))
search.click()

# Scraping song details from the webpage
song= WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')))
Song=[]
for d in song:
    try:
        Song.append(d.text)
    except:
        Song.append('-')

# Scraping Artist details from the webpage
artist=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
Artist=[]
for a in artist:
    try:
        Artist.append(a.text)
    except:
        Artist.append('-')

# Scraping last week rank details from the webpage
lastrank=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
Lastweekrank=[]
for l in lastrank:
    try:
        Lastweekrank.append(l.text)
    except:
        Lastweekrank.append('-')

# Scraping Peak position details from the webpage
peak=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
Peakrank=[]
for p in peak:
    try:
        Peakrank.append(p.text)
    except:
        Peakrank.append('-')
        
# Scraping no. of week on chart details from the webpage
weak=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
Weeksonboard=[]
for p in weak:
    try:
        Weeksonboard.append(p.text)
    except:
        Weeksonboard.append('-')

print(len(Song),len(Artist),len(Lastweekrank),len(Peakrank),len(Weeksonboard))

billboarddf=pd.DataFrame({"Song name":Song, "Artist name": Artist,"Last week rank ":Lastweekrank,"Peak rank ":Peakrank,"Weeks on board ":Weeksonboard })
billboarddf

100 100 100 100 100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,A Bar Song (Tipsy),Shaboozey,1,1,23
1,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,19
2,Espresso,Sabrina Carpenter,3,3,23
3,"Good Luck, Babe!",Chappell Roan,7,4,24
4,Die With A Smile,Lady Gaga & Bruno Mars,4,3,5
...,...,...,...,...,...
95,U My Everything,Sexyy Red & Drake,89,44,17
96,My Kink Is Karma,Chappell Roan,-,81,5
97,Nasty,Tinashe,94,61,16
98,Parking Lot,Mustard & Travis Scott,99,57,8
99,Worst Way,Riley Green,-,100,1

6. Scrape the details of Highest selling novels.

   
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [28]:
#Importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import re

#Opening the automated browser window and navigating to required page
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()

Table=[]
table= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td')
for t in table:
    Table.append(t.text)

rows=[]

# Loop through the list and create rows of 7 items each
for i in range(0, len(Table), 6):
    row = Table[i:i+6]
    rows.append(row)


#Creating the dataFrame from the scraped data
bookdf = pd.DataFrame(rows,columns=['Rank','Title','Author','Volume Sales','Publisher','Genre'])
# Droping unnecessary columns and making final dataframe as per question
Novlesdf=bookdf.drop(['Rank'], axis=1)
Novlesdf

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following detail

s:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
https://www.imdb.com/list/ls095964455/#mentioned webpage in quetion is giving 404 Error. so scraping similar

In [18]:
#Opening automated chrome browser and navigating to given page
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')
driver.maximize_window()   # maximizing browser window

# Page scroll to load more content
scroll_pause_time = 2  # Adjust the pause time as needed
scrolls = 6  # Adjust the number of scrolls as needed

for _ in range(scrolls):
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
    time.sleep(scroll_pause_time)
    
#scrape Name of tv series.
name=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//h3[@class="ipc-title__text"]')))
Name=[]
for n in name[:100]:
    Name.append(n.text)

#scrape year of tv series.
year=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="sc-b189961a-7 btCcOY dli-title-metadata"]/span[1]')))
Year_span=[]
for y in year[:100]:
    Year_span.append(y.text)

#scrape runtime of tv series.
run=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="sc-b189961a-7 btCcOY dli-title-metadata"]/span[2]')))
runtime=[]
for r in year[:100]:
    runtime.append(y.text)

#scrape rating details of tv series.
stars=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//span[@class="ipc-rating-star--rating"]')))
Ratings=[]
for s in stars[:100]:
    Ratings.append(s.text)
    
#scrape vote details of tv series.
vote=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')))
Votes=[]
for v in vote[:100]:
    Votes.append(v.text)

#Scraping Genre details which are found inside the tv series link
urls=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 bnSrml dli-title"]/a')))
links = [u.get_attribute('href') for u in urls[:100]]

print(len(links))

Genre=[]
for l in links:
    driver.get(l)
    time.sleep(1)
    try:
        genre=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="ipc-chip-list--baseAlt ipc-chip-list ipc-chip-list--nowrap sc-9579cce5-4 bNRyzK"]/div[2]/a[1]')))
        for g in genre:
            Genre.append(g.text)
    except TimeoutException:
        Genre.append('-') 


print(len(Name),len(Year_span),len(Genre),len(runtime),len(Ratings),len(Votes))

#Creating Dataframe from the scraped data
imdb=pd.DataFrame({"Name":Name,"Year span":Year_span,"Genre":Genre,"Run time":runtime, "Ratings": Ratings,"Votes":Votes })
imdb

100
100 100 100 100 100 100

,Name,Year span,Genre,Run time,Ratings,Votes
0,1. Game of Thrones,2011–2019,Dark Fantasy,2004–2012,9.2,(2.3M)
1,2. Stranger Things,2016–2025,Dark Fantasy,2004–2012,8.7,(1.4M)
2,3. The Walking Dead,2010–2022,Zombie Horror,2004–2012,8.1,(1.1M)
3,4. 13 Reasons Why,2017–2020,Suspense Mystery,2004–2012,7.5,(321K)
4,5. The 100,2014–2020,Dystopian Sci-Fi,2004–2012,7.5,(283K)
...,...,...,...,...,...,...
95,96. True Detective,2014–,Cop Drama,2004–2012,8.9,(672K)
96,97. Teen Wolf,2011–2017,Dark Fantasy,2004–2012,7.7,(167K)
97,98. The OA,2016–2019,Drama,2004–2012,7.8,(119K)
98,99. The Simpsons,1989–,Adult Animation,2004–2012,8.7,(442K)
99,100. Desperate Housewives,2004–2012,Dark Comedy,2004–2012,7.6,(142K)

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:


A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [21]:
#Importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd

#opening automated Chrome browser and navigating to given weblink
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window() # maximizing the browser window

#Navigating to View Dataset link to scrape details
sets=WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')))
sets.click()

# to expand the columns
expand=WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/span[2]')))
expand.click()

#Scraping the dataset name details.
dataset=WebDriverWait(driver,5).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')))
Dataset=[]
for d in dataset:
    Dataset.append(d.text)

#Scraping the Data type details
datatype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
Data_type=[]
for dt in datatype:
    Data_type.append(dt.text)

#Scraping the task details
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
Task=[]
for t in task:
    Task.append(t.text)

#Scraping the task details
Ninstance=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
Instance=[]
for i in Ninstance:
    Instance.append(i.text)

#Scraping the task details
NAttribute=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
Attribute=[]
for a in NAttribute:
    Attribute.append(a.text)



#Scraping the Attribute type details
Atype=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
ATTTYPE=[]
for A in Atype:
    ATTTYPE.append(A.text)

#Scraping the Attribute type details
year=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
Year=[]
for y in year:
    Year.append(y.text)


print(len(Dataset),len(Data_type),len(Task),len(Instance),len(Attribute),len(ATTTYPE),len(Year))

#Creating Dataframe from the scraped data
UCIdf=pd.DataFrame({"Dataset name": Dataset,"Data type":Data_type,"Task": Task,"Attribute type ":ATTTYPE,
                    "No of instances":Instance,"No of attribute": Attribute,"Year":Year })
UCIdf

10 10 10 10 10 10 10

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
5,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
7,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,11/27/2014
8,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,11/6/2015
9,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997